.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.wrapper input {
  height: 25px;
  width: 500px;
  border-bottom: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
